<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Vino</title>
</head>
<body>
    <h1>Agregar Nuevo Vino</h1>
    <form action="{{ url_for('addWine') }}" method="POST" enctype="multipart/form-data">
        <label for="winery">Bodega:</label>
        <input type="text" id="winery" name="winery" required><br><br>

        <label for="wine">Vino:</label>
        <input type="text" id="wine" name="wine" required><br><br>

        <label for="location">Ubicación:</label>
        <select id="location" name="location" required>
            {% for location in locations %}
                <option value="{{ location[0] }}">{{ location[1] }}</option>
            {% endfor %}
        </select><br><br>

        <label for="txtFoto">Imagen:</label>
        <input type="file" id="txtFoto" name="txtFoto"><br><br>

        <button type="submit">Agregar</button>
    </form>
</body>
</html>
