<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Vinos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body class="bg-light">
    <div class="container mt-5">
        <div class="d-flex justify-content-between mb-3">
            <h1>Lista de Vinos</h1>
            <a href="/create" class="btn btn-primary text-center:"center"">Agregar Vino</a>
        </div>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Vino</th>
                    <th scope="col">Cosecha</th>
                    <th scope="col">País de Cosecha</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for item in wines %}
                <tr>
                    <th scope="row">{{ item[1] }}</th>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[3] }}</td>
                    <td><img src="{{ url_for('static', filename='uploads/' ~ item[4]) }}" alt="Imagen de {{ item[1] }}" class="img-thumbnail" style="width: 100px; height: auto;"></td>
                    <td>
                        <a href="/edit/{{ item[0] }}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="/delete/{{ item[0] }}" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de eliminar esta fila?')">Borrar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-HoXA2jKvvNRgFVRIhMsI4RzN1plQ+NqkGSVftguWfW0Xq3XV8vnJ8rEPVGGcV7+A" crossorigin="anonymous"></script>
</body>

</html>
